body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.item {
  color: white;
  margin: 24px 12px 24px 12px;
  cursor: pointer;
}

.item a {
  text-decoration: none;
  color: white;
}

.item a:hover {
  color: yellow;
}

.item a:selected {
  color: red;
}

.item:first-child {
  margin: 24px 12px 24px 24px;
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px 0 0 0;
}

.gallery {
  width: 60%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  margin: 8px 0px 0px 300px;
}

.art {
  margin: 8px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.footer {
  background: white;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #371e33;
  border-top: gray;
  clear: both; /*make it to align the icons*/
}

.pri {
  font-family: "Arial";
  font-size: 32px;
  text-align: center;
  text-shadow: 2px 1px 2px gray;
  margin: 4px 0px 8px 0px;
  padding-right: 4px;
}

.msg {
  font-family: Arial;
  font-size: 18px;
  text-align: center;
  text-shadow: 2px 1px 2px gray;
  margin: 4px 0px 8px 0px;
  padding-right: 4px;
}

.icons {
  display: flex;
  margin: 0px;
}

p {
  color: gray;
  margin: 1px;
  font-size: 10px;
  text-shadow: 1px 1px 1px gray;
}

@media (max-width: 991px) {​​​​​​
  #pagewrap {​​​​​​
    padding:50%;
    width: 100%;
    margin:20px auto;
 }​​​​​​
  }
  ​​​​​​